/************** General Formatting Styles **************/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #696969;
}

h1,
h2 {
  color: #663366;
}

h2 {
  padding-top: 20px;
  padding-bottom: 35px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #696969;
}

p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  word-spacing: .15em;
}

/************** Main Navigation Styles **************/
.navigation,
.headline {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.name {
  padding-bottom: 20px;
}

.nav-bar {
  display: block;
}

.nav-bar li {
  width: 100%;
  background: #fff;
  margin-bottom: 5px;
}

.nav-bar li a {
  display: block;
  padding: 10px 20px;
  font-weight: 700;
  width: 100%;
}

.nav-bar li:hover a {
  color: #fff;
  background-color: #696969;
}

.headline-image {
  width: 60%;
  padding-bottom: 20px;
}

/************** Main Content Styles **************/

.main-content {
  background-color: rgba(0,191,255,0.1);
  text-align: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-content img {
  width: 100%;
}

.project img,
.project h3,
.project p {
  padding-bottom: 20px;
}

.skills-list {
  line-height: 2em;
  font-size: 1.5em;
  display: inline-block;
}

.skills-item {
  padding-bottom: 15px;
  padding-top: 10px;
  border-bottom: 3px #339999 solid;
}

.skills-item:last-child {
  border: none;
}

/************** Footer Styles **************/

.footer {
  line-height: 1.5;
  text-align: center;
  padding: 30px 10px;
}

.footer p {
  padding-bottom: 20px;
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.footer-bar {
  padding: 20px;
}

.footer-bar h3 {
  float: left;
  padding: 10px 20px;
}

.footer-nav {
  float: right;
  color: inherit;
  text-align: right;
}

.footer-nav a {
  padding: 10px 20px;
}

.footer-nav a:hover {
  color: #fff;
  background-color: #696969;
}

.hide_mobile {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/************** Media Queries **************/

@media (min-width: 768px) {
  .nav-bar {
    display: inline-block;
  }

  .nav-bar li {
    display: inline-block;
    width: inherit;
    background-color: white;
    margin-bottom: 5px;
    margin-right: 10px;
  }

  .headline-image {
    float: right;
    width: 40%;
    padding-bottom: 20px;
  }

  .headline p {
    float: left;
    width: 60%;
    padding-right: 20px;
    text-align: left;
  }

  .main-content {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .project {
    width: 50%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .footer {
    width: 60%;
    margin: 0 auto;
  }

  .show_mobile {
    display: none;
  }

  .hide_mobile {
    display: inline-block;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media (min-width: 1024px) {

  body {
    width: 90%;
    margin: 0 auto;
  }

  .name {
    float: left;
  }

  .nav-bar {
    float: right;
  }

  .headline p {
    width: 70%;
  }

  .headline-image {
    width: 30%;
  }

  .main-content {
    width: 100%;
  }

  .project {
    width: 33.33333%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
}
